<footer>
    <section>
        <a href="{{ path("app_main") }}">
            <img src="{{ asset('assets/images/logo.png') }}" alt="logo blog symfony hassan">
            Symfony Blog
        </a>
    </section>
    <section>
        <a href="{{ path('app_terms') }}">Terms & Conditions</a>
    </section>
</footer>