<nav class="navbar">
    <a href="{{ path("app_main") }}">
        <img src="{{ asset('assets/images/logo.png') }}" alt="logo blog symfony hassan">
    </a>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Articles</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Authors</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Search</a></li>
    </ul>
</nav>