{% extends 'base.html.twig' %}

{% block title %}Reset password | {{ parent() }}{% endblock %}

{% block body %}
    <section>
        <h1>Reset password</h1>
        {{ form_start(resetPasswordForm) }}
            {{ form_row(resetPasswordForm.email) }}
            <button type="submit">Send</button>
        {{ form_end(resetPasswordForm) }}
    </section>
{% endblock %}