{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    
</div>
{% endblock %}
