<footer class="container-fluid bg-light fixed-bottom">
    <div class="row">
        <div class="col">
            colonne 1
        </div>
        <div class="col">
            colonne 2
        </div>
        <div class="col">
            colonne 3
        </div>
    </div>
</footer>