{% extends "base.html.twig" %}

{% block body %}

    <h1> Bienvenu dans ce blog </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, atque expedita? Eius nulla quia officia autem nostrum suscipit tempore cumque maiores fugit perferendis eveniet numquam voluptatibus cum fugiat sit alias animi, aliquid voluptates quo magnam totam corrupti sint! Sed, aliquid!</p>
    <p>Deserunt quod sunt exercitationem rerum hic, expedita quidem iusto ipsa consectetur quo ea? Iure aliquid numquam aspernatur illum praesentium laborum ad, doloribus quae maxime dolorum quidem facilis dolor totam cupiditate autem amet ipsam ducimus natus nesciunt voluptates explicabo labore porro?</p>

{% endblock %}
