<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} ⚫️ SymBlog!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "./_partials/_navbar.html.twig" %}

        {% block body %}
        {% endblock %}

        {% include "./_partials/_footer.html.twig" %}
    </body>
</html>
