<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Our Blog</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}

        {% endblock %}
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">

        <script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/scripts.js')}}" defer></script>
    </head>

    <body>
        {% include "_parties/_nav.html.twig" %}
        
        {% block body %}
        
        {% endblock %}

        {% include "_parties/_footer.html.twig" %}
    </body>
</html>